<div class="flex justify-center items-stretch">
  <a href="/index.html"><img class="w-40 mr-4" src="../assets/logo.png" alt="Flash auto logo - Location: 8333 Jefferson St. NE Albuquerque, NM - Phone number: 505-856-8333"></a>
  <ul class="flex items-stretch text-slate-700 font-normal">
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap" href="/index.html">Home</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/specials.html">Specials</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/fleet-services.html">Fleet Services</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/faq.html">FAQ</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/reviews.html">Reviews</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/careers.html">Careers</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/about.html">About</a></li>
    <li class="flex items-center text-2xl py-2 hover:text-rose-900 hover:border-y-8 hover:border-rose-900 duration-150"><a class="px-3 whitespace-nowrap"  href="/pages/contact.html">Contact</a></li>
  </ul>
  <div id="spacer-div"></div>
</div>