<a class="logo-link" href="/index.html"><img class="logo" src="../assets/logo.png" alt="Flash auto logo - Location: 8333 Jefferson St. NE Albuquerque, NM - Phone number: 505-856-8333"></a>
<ul>
  <li><a href="/index.html">Home</a></li>
  <li><a href="/pages/specials.html">Specials</a></li>
  <li><a href="/pages/fleet-services.html">Fleet Services</a></li>
  <li><a href="/pages/faq.html">FAQ</a></li>
  <li><a href="/pages/reviews.html">Reviews</a></li>
  <li><a href="/pages/careers.html">Careers</a></li>
  <li><a href="/pages/about.html">About</a></li>
  <li><a href="/pages/contact.html">Contact</a></li>
</ul>
<div id="spacer-div"></div>