#nav {
  box-sizing:unset;
  display:flex;
  justify-content: center;
  align-items: stretch;
}

#nav ul {
  display: flex;
  align-items: stretch;
  font-weight: 400;
  color: #333333;
}

#nav ul li{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

#nav ul li a{
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  white-space: nowrap;
}

#nav ul li:not(:last-child) a{
  border-right: 1px solid #999999;
}

#nav ul li:hover, *:focus{
  color: #5a0703;
  border-top: 5px solid #5a0703;
  border-bottom: 5px solid #5a0703;
  transition: 50ms;
}

.logo {
  width: 10rem;
  margin-right: 1rem;
}